footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--primary-color);
  height: 7vh;
  padding: 0.5rem;
}
footer a {
  border: 4px solid white;
  color: white;
  text-decoration: none;
  padding: 15px;
}
