#situation {
  margin-bottom: 0;
}
#situation h2 {
  margin: 0px;
}
#situation p {
  margin-bottom: 0px;
  font-size: 1.3em;
  line-height: 32px;
  color: var(--color-content);
}
#situation p span {
  font-weight: 600;
  color: var(--secondary-color);
}
